*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log


/doc/*
/node_modules/*
/public/*
/resources/*
/test/*
/views/*
.gitattributes
.gitignore
.jshintrc
cgtestjs.js
frontend.js
webpack.config.js
/src/codegen/*