.textareamessage {
  font-size:20px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
}

#src {
  width: 49%;
  float: left;
}

#res {
  width: 49%;
  float: right;
}

#src .CodeMirror {
  background-color: #fffffb;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc inset;
}

#res .CodeMirror {
  background-color: #F8F8F8;
  border: 1px solid #eee;
  border-radius: 3px;
}

.CodeMirror {
  height: 650px;
}