<!--
Copyright (C) Microsoft Corporation. All rights reserved. See License.txt in the project root for license information.
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Model-first Builder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="javascript/frontend.bundle.js"></script>
    <link rel="stylesheet" href="javascript/frontend.css">
    <!-- endbuild -->
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Model-first Builder</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Load
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="sampleList">
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Download
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="sampleList">
            <li><a id="csharpClient" name="csharpClient" href="#"><span class="glyphicon glyphicon-save"></span> C#: OData V4 Client</a></li>
            <li><a id="csharpServer" name="csharpServer" href="#"><span class="glyphicon glyphicon-save"></span> C#: OData V4 Server</a></li>
          </ul>
        </li>
      </ul>
    </nav> 

    <div style="margin-top: 50px;"></div>

    <div class="row">
      <div class="col-md-6" id="src">
        <!-- <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <div class="textareamessage"><span class="glyphicon glyphicon-pencil"></span> Edit model here:</div>
          </div>
        </div> -->
        <div class="col-md-12" style="padding-right: 0px;">
          <textarea id="inputarea"></textarea>
        </div>
      </div>

      <div class="col-md-6" id="res">
        <div class="row">
          <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
            <div id="errPanel" name="errPanel" class="panel panel-danger sr-only">
              <div class="panel-heading">
                <h3 class="panel-title">Error</h3>
              </div>
              <div class="panel-body">
                <div id="errors"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
            <ul id="resultTabs" class="nav nav-tabs"></ul>
            <div id="resultContents" class="tab-content"></div>
          </div>
        </div>
      </div>
    </div> 
  </body>

  <script id="errorTemp" type="text/x-jQuery-tmpl">
    <span style="color:red">{{:errorType}}</span>
    <div>{{:errDes}}</div>
    <p>lineNumber: {{:ln}}</p>
  </script>
</html>
